<ul>
  <a><img src="../../../assets/Marca Credimóveis-02.png" /></a>
  <!-- <li><a routerLink="/">Home</a></li> -->
  <li><a routerLink="/">Produtos</a></li>
  <li><a routerLink="/cadastro-produto">Cadastro</a></li>
  <li><a href="about.asp">Sobre</a></li>
  <li class="search">
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Buscar"
        aria-label="Search"
      />
      <button class="btn btn-danger" type="submit">Buscar</button>
    </form>
  </li>
</ul>
